<mat-card class="trinta-card invitation-list-card mb-25 bg-white border-none d-block">
    <mat-card-header>
        <mat-card-title>
            <h5 class="mt-0 mb-0">
                Lista de Invitaciones
            </h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="invitation-list-table">
            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    <!-- Phone Number Column -->
                    <ng-container matColumnDef="phoneNumber">
                        <th mat-header-cell *matHeaderCellDef class="pl-0">
                            Teléfono
                        </th>
                        <td mat-cell *matCellDef="let element" class="pl-0">
                            {{element.phoneNumber}}
                        </td>
                    </ng-container>

                    <!-- Guest Name Column -->
                    <ng-container matColumnDef="guestName">
                        <th mat-header-cell *matHeaderCellDef>
                            Invitado
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.guestName}}
                        </td>
                    </ng-container>

                    <!-- Start Time Column -->
                    <ng-container matColumnDef="startTime">
                        <th mat-header-cell *matHeaderCellDef>
                            Fecha Inicio
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.startTime | date: 'dd/MM/yyyy'}}
                        </td>
                    </ng-container>

                    <!-- End Time Column -->
                    <ng-container matColumnDef="endTime">
                        <th mat-header-cell *matHeaderCellDef>
                            Fecha Fin
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.endTime | date: 'dd/MM/yyyy'}}
                        </td>
                    </ng-container>

                    <!-- Is Reusable Column -->
                    <ng-container matColumnDef="isReusable">
                        <th mat-header-cell *matHeaderCellDef>
                            Reutilizable
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.isReusable}}
                        </td>
                    </ng-container>

                    <!-- Is Active Column -->
                    <ng-container matColumnDef="isActive">
                        <th mat-header-cell *matHeaderCellDef>
                            Activa
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.isActive ? 'Sí' : 'No'}}
                        </td>
                    </ng-container>

                    <!-- Is Used Column -->
                    <ng-container matColumnDef="isUsed">
                        <th mat-header-cell *matHeaderCellDef>
                            Usada
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.isUsed ? 'Sí' : 'No'}}
                        </td>
                    </ng-container>

                    <!-- Action Column -->
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef class="text-end pr-0">
                            Acción
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-end pr-0">
                            <div class="action">
                                <!-- <button mat-icon-button color="primary" class="p-0 min-w-auto lh-1 h-auto" (click)="onViewDetails(element)">
                                    <i class="ri-eye-line"></i>
                                </button> -->
                                <button mat-icon-button color="accent" class="p-0 min-w-auto lh-1 h-auto" (click)="onDuplicate(element)"> <!-- Nuevo Botón -->
                                    <i class="ri-file-copy-line"></i> <!-- Icono para duplicar/crear nuevo -->
                                </button>
                                <button mat-icon-button color="warn" class="p-0 min-w-auto lh-1 h-auto" (click)="onDelete(element)">
                                    <i class="ri-delete-bin-line"></i>
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>


